@function rpx($val) {
    @return $val * 1rpx;
}

.lyrics{
    width: 100%;
    height: rpx(970);
    swiper{
        height: 100%;
        padding-top: rpx(30);
        box-sizing: border-box;
        swiper-item{
            width: 100%;
            height: rpx(50);
            font-size: rpx(36);
            text-align: center;
            color: #ccc;
        }
        .on{
            font-size: rpx(43);
            color: #fff;
        }
    }
}