@import "../../template/song/song";
@function rpx($val) {
    @return $val * 1rpx;
}
scroll-view{
    display: block;
    height: 100vh;
    .song-list{
        padding: rpx(20);
        box-sizing: border-box;
    }
}