@function rpx($val) {
    @return $val * 1rpx;
}

.msg{
    width: 100%;
    height: rpx(970);
    padding: rpx(10) 0;
    .photo{
        width: 100%;
        height: rpx(900);
        .img{
            position: relative;
            width: 100%;
            height: 100%;
            background: radial-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) rpx(240), transparent rpx(241)) no-repeat center center / rpx(900) rpx(900);

        }
        image{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: rpx(450);
            height: rpx(450);
            border-radius: 50%;
        }
    }
    .details{
        display: flex;
        width: 85%;
        height: rpx(70);
        margin: auto;
        view{
            flex: 1;
            color: #ccc;
            font-size: rpx(60);
            text-align: center;
            font-weight: normal;
        }
    }
}